
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/4/1/41c198938880beecda005c28741536f2d3b57184
.idea/sonarlint/issuestore/2/9/29664a07d7289b4d5be1e9513df83988828e3e14
.idea/RDF-SPARQL-app.iml
.idea/modules.xml
.idea/misc.xml
*.xml
Projet/credits.csv
